{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CEP API - Consulte CEP</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/index.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">How to Use</a></li>
            <li role="presentation"><a href="https://github.com/henryfentanes/webservice_zipcode">Github</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">CEP API</h3>
      </div>

      <div class="jumbotron">
        <h1>Consulte seu CEP</h1>
        <p class="lead">Utilize a API para resgatar informações do seu CEP, como logradouro, bairro, cidade e estado</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Inclua</h4>
          <p>curl --data "zip_code=14020260" https://api-cep-henryfentanes.herokuapp.com/zipcode/</p>

          <h4>Exclua</h4>
          <p>curl -X DELETE https://api-cep-henryfentanes.herokuapp.com/zipcode/14020260/</p>

        </div>

        <div class="col-lg-6">
          <h4>Consulte</h4>
          <p>curl https://api-cep-henryfentanes.herokuapp.com/zipcode/14020260/</p>

          <h4>Liste</h4>
          <p>curl https://api-cep-henryfentanes.herokuapp.com/zipcode/?limit=xxx</p>
          <p>Opcionalmente omita ?limit=xxx para listar Todos os registros</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; Henry Fentanes.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>

<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>